

body{
    margin: 0;
    padding: 0;
    
    background-size: cover;
  }
.box {
  position: relative;
  max-width: 1600px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.box .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 50%; /* Full width */
  padding: 10px; /* Some padding */
}
   
  .box-img{
    border-square: 50%;
    width: 100px;
    height: 100px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    color: red;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  box.table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
  .box h4{
   font-size: 25px;
   letter-spacing: 3px;
   font-weight-150px;
   color:blue;
}
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  